<div id="about-us" class="row">
    <section class="container">
        <h2>About DroneShare</h2>
        <p>
            This is the beta release of Droneshare. Droneshare is a mission viewing and sharing application that works with ground control applications to let you share your mission data.
        </p>
        <p>
            This project is open source, if you would like to improve it, it is probably best to start at <a href="https://github.com/diydrones/droneshare/blob/master/WELCOME.md">our github repo</a>.
        </p>
        <h3>Terms of service</h3>
        <p>
            Alas, we haven't written one yet, but we should be getting to this soon.  But in short: this is a beta and the service might have bugs.
        </p>
        <p>
            We also use the really cool Doarama project for our movie views, their terms of service are <a href="http://www.doarama.com/terms">here</a>.
        </p>
        <p>
            If you have questions, please contact <a href="mailto:support@droneshare.com">Support</a>.
        </p>
        <h3>Maps</h3>
        <p>
            Droneshare uses maps from the <a href="http://www.openstreetmap.org/about">OpenStreetMap project</a> and our friends at <a href="https://www.mapbox.com">Mapbox</a>.
        </p>
        <p>
            In fact, <a href="https://www.mapbox.com">Mapbox</a> has been experimenting with providing maps that show user contributed areas where flying drones is not recommended, If you would like to improve this map <a href="https://github.com/mapbox/drone-feedback">please see their project here</a>.
        </p>
        <p class="col-md-12">
            <a href="https://www.mapbox.com/">
                <img id="octocat" ng-src="{{octocat}}" alt="Octocat" />
            </a>
        </p>
    </section>
</div>
