<div class="row">
<section id="recent-flights" class="container">

<form name="form" ng-submit="controller.submit()">

            <!-- FIXME - find a way to share this boilerplate -->
            <alert ng-repeat="alert in errors" type="danger" close="controller.clear_error()">{{alert}}</alert>
            <alert ng-repeat="alert in successes" type="success" close="controller.clear_success()">{{alert}}</alert>

        <section class="col-lg-12">

            <h2>About DroneShare</h2>
            <p>
            This is an explanation of DroneShare. please place a short write up here and include links to the API and github.
            
            </p>
    </section>
</form>
</div>

    </section>
</div>