<div class="row">
<section class="container">
    <h2>About Droneshare</h2>
    <p>
    This is the beta release of Droneshare.  Droneshare is a flight viewing and sharing application that works automatically
    with ground control applications to let you optionally share your flight data.  This project is open source, if you would
    like to improve it, it is probably best to start at <a href="https://github.com/diydrones/droneshare/blob/master/WELCOME.md">our github site</a>.
    </p>
    <p>
    If you have questions, please contact <a href="mailto:support@droneshare.com">Support</a>.
    </p>
    </section>
</div>
