<nav id="footer" class="navbar navbar-default navbar-fixed-bottom" role="navigation">


	<div class="container">
		<p class="navbar-text navbar-right">&copy; 3D Robotics 2014

        <!-- <iframe src="http://ghbtns.com/github-btn.html?user=geeksville&repo=mega-droneshare&type=fork"
  allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe></p> -->

  <a href="https://github.com/geeksville/mega-droneshare/WELCOME.md" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-download"></span> Source code</a>
	</div>
</nav>


