<nav id="footer" class="navbar navbar-default navbar-fixed-bottom hidden-xs" role="navigation">
    <div class="container-fluid">
        <p class="navbar-text navbar-right">&copy; 3D Robotics 2014</p>
        <p class="navbar-text navbar-right">Restricted Zones map provided by Mapbox "<a href="https://www.mapbox.com/drone/no-fly/">Don't fly drones here</a>" project.</p>
        <p class="navbar-text navbar-left">
            <a href="https://github.com/diydrones/droneshare/blob/master/WELCOME.md" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-download"></i> Source code</a>
        </p>
    </div>
</nav>
