<nav id="footer" class="navbar navbar-default navbar-fixed-bottom hidden-xs" role="navigation">
    <div class="container-fluid">
        <p class="navbar-text navbar-right">&copy; 3D Robotics 2014
        <!--
            <iframe src="http://ghbtns.com/github-btn.html?user=geeksville&repo=mega-droneshare&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
        -->
        </p>
        <p class="navbar-text navbar-left">
            <a href="https://github.com/diydrones/droneshare/blob/master/WELCOME.md" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-download"></i> Source code</a>
        </p>
    </div>
</nav>
