
<nav id="main-navigation" class="navbar navbar-default" role="navigation" ng-controller="authController as auth">
    <div class="container-fluid">

        <div class="navbar-header">
            <a id="logo" class="navbar-brand" href="/">
                <img src="/images/3dr.png" alt="3DR">
            </a>
        </div> -
        <div class="collapse navbar-collapse">
            <a class="navbar-brand" href="/">Mega Drone Share</a>

            <ul class="nav navbar-nav navbar-right" ng-show="auth.getUser().loggedIn" >
                <li >
                    <li class="dropdown">
                      <div class="dropdown-toggle" data-toggle="dropdown">
                        <img ng-src="{{auth.getUser().avatarImage}}?s=48"/>
                        {{auth.getUser().login}} <b class="caret"></b>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="#/user/{{auth.getUser().login}}">Edit account</a></li>
                        <li><a href="#/logout">Logout</a></li>
                    </ul>
                </li>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" ng-show="!auth.getUser().loggedIn" >
            <a href="#/login">Login</a>
        </ul>
    </div>
</div>
</nav>

<!--
<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{auth.getUser().login}}
-->
