<app:tabs>

	<app:tab caption="Mission Detail" selected="true">
		<div class="row" ng-controller="missionDetailController as controller">
			<section class="col-lg-6">
				<div class="alert alert-danger" ng-show="!!controller.error">
					<h4 class="alert-heading" ng-bind="controller.error.title"></h4>
					<span ng-bind="controller.error.message"></span>
				</div>

				<table class="table table-striped">
					<tbody>
						<tr>
							<th>TLOG</thead>
							<td>
								<a ng-href="#/mission/{{controller.mission.id}}"  >{{controller.mission.tlogId}}</a>
							</td>
						</tr>
						<tr>
							<th>isLive</th>
							<td>
								{{controller.mission.isLive}}
							</td>
						</tr>
					</tbody>
				</table>

			</section>

			<section ng-controller="mapController as map" class="col-lg-6">
				<div class="alert alert-warning alert-dismissable">Map Test</div>
				<leaflet tiles="tiles" geojson="geojson" bounds="bounds" center="center" defaults="defaults" height="480px" width="100%"></leaflet>
			</section>
		</div>
	</app:tab>
</app:tabs>
