
<div class="row" ng-controller="vehicleDetailController as controller">

    <form name="userForm" ng-submit="controller.submit()">
        <section class="col-lg-6">

            <!-- FIXME - find a way to share this boilerplate -->
            <alert ng-repeat="alert in errors" type="danger" close="controller.clear_error()">{{alert}}</alert>
            <alert ng-repeat="alert in successes" type="success" close="controller.clear_success()">{{alert}}</alert>

            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>
                            <input type="text" ng-model="controller.record.name" placeholder="Name your vehicle here" />
                        </td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>
                            <a href="#" tooltip-placement="right" tooltip="Automatically determined from log files">{{controller.record.vehicleType}}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>Autopilot</th>
                        <td>
                            <a href="#" tooltip-placement="right" tooltip="Automatically determined from log files">{{controller.record.autopilotType}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <input class="btn btn-success" type="submit" id="submit" value="Update vehicle" ng-show="userForm.$dirty" />

            <div ng-hide="controller.uploading">
              <h3>Upload new (TLOG) flight logs:</h3>
              <input type="file" ng-file-select="onFileSelect($files)" multiple>
              <br>
              <div ng-file-drop="controller.on_file_select($files)" class="drop-box"
              ng-show="dropSupported">Drag and drop tlogs here...</div>
              <div ng-file-drop-available="dropSupported=true"
              ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
              <!-- <button ng-click="upload.abort()">Cancel Upload</button> -->
          </div>

          <div ng-show="controller.uploading">
            <h3>Uploading...</h3>
            <progressbar  value="controller.upload_progress" animate="true" class="progress-striped active" type="success">
            </progressbar>
        </div>

        <h3>Past flights</h3>
        <div class="panel panel-default" ng-hide="!controller.record.missions.length" >
          <ul class="list-group">
            <li ng-repeat="mission in controller.record.missions" class="list-group-item">
                <a ng-href="#/mission/{{mission}}">Mission {{mission}}</a>
            </li>
        </ul>
    </div>

</section>

</form>
</div>

