<div class="col-md-12 mission-summary-card">
    <div class="mission-thumbnail">
        <a ng-href="#/mission/{{mission.id}}">
            <div mapbox-static-map ng-hide="!mission.mapThumbnailURL" latitude="mission.latitude" longitude="mission.longitude" icon="mission.vehicleType | toMapIcon" zoom="mission.staticZoom" width="270" height="100"></div>
        </a>
    </div>
    <div class="clearfix mission-info">
        <div class="col-md-3">
            <a ng-href="/user/{{mission.userName}}"><img ng-show="mission.userAvatarImage" ng-src="{{mission.userAvatarImage}}?s=40&d=mm" class="img-rounded" /></a>
        </div>
        <div class="col-md-9">
            <h6><a ng-href="/user/{{mission.userName}}" ng-bind="mission.userName"></a></h6>

            <ul class="list-unstyled">
                <a ng-href="/mission/{{mission.id}}">
                    <li>{{mission.summaryText}}</li>
                    <li>{{mission.dateString}}</li>
                    <li ng-hide="!mission.flightDuration">Flight time: {{mission.flightDuration | duration}}</li>
                </a>
            </ul>
        </div>
    </div>
</div>
