<div class="col-md-12 mission-summary-card">
    <div class="mission-thumbnail">
        <a ng-href="#/mission/{{mission.id}}">
            <mapbox-static-map ng-hide="!mission.mapThumbnailURL" latitude="mission.latitude" longitude="mission.longitude" icon="mission.vehicleText | toMapIcon" width="240" height="100"></mapbox-static-map>
        </a>
    </div>
    <div class="clearfix mission-info">
        <div class="col-md-3">
            <img ng-src="{{mission.userAvatarImage}}?s=40&d=mm" class="img-rounded" />
        </div>
        <div class="col-md-9">
            <h6><a ng-href="/user/{{mission.userName}}" ng-bind="mission.userName"></a></h6>

            <ul class="list-unstyled">
                <li>in <a ng-href="/mission/{{mission.id}}" ng-bind="mission.summaryText">flew</a></li>
                <li>{{mission.dateString}}</li>
                <li ng-hide="!mission.flightDuration">Flight time: {{mission.flightDuration / 120 | duration}}</li>
            </ul>
        </div>
    </div>
</div>
