<div class="row mission-list-heading">
  <div class="col-md-6 pull-left">
    <h2>Missions:</h2>
  </div>
  <div class="col-md-2 pull-right">
    <div upload-mission user="controller.currentUser"></div>
  </div>
</div>

<div class="row mission-list-filters">

  <div class="col-md-2 btn-group">
    <select ng-model="missionDataSet" class='form-control' ng-options='option.value as option.label for option in missionDataSetOptions'></select>
  </div>

  <div class="col-md-10 pull-right" ng-hide="controller.queryFilterHidden">
    <div class="row">

      <div class="pull-right form-item">
        <button ng-ladda-bootstrap data-style="zoom-out" ladda-toggle="filterInProgress" class="ladda-button btn btn-primary" ng-click="tryFilterDataSet()">
          Filter
        </button>
      </div>

      <div class='pull-right form-item text-item'>
        <div>{{filters.field.units}}</div>
      </div>

      <div class='pull-right form-item'>
        <input type="text" class="form-control text-input" ng-model="filters.input" />
        <span ng-show="filtersActive" class="form-control-input-clear glyphicon glyphicon-remove-circle"></span>
      </div>

      <div class="dropdown pull-right form-item" is-open="dropDownIsOpen.opt">
        <a href class='dropdown-toggle' ng-class="{active: filtersActive}">
          <span ng-bind-html='filters.opt.title'></span> <b class='caret'></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="fieldopt in controller.filterOpts">
            <a href ng-click="tryFilterOp($index)"><span ng-bind-html="fieldopt.title"></span></a>
          </li>
        </ul>
      </div>

      <div class="dropdown pull-right form-item" is-open="dropDownIsOpen.field">
        Filter:
        <a href class="dropdown-toggle" ng-class="{active: filtersActive}">
          {{filters.field.title}} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="field in controller.filterFields">
            <a href ng-click="tryFilterField($index)">{{field.title}}</a>
          </li>
        </ul>
      </div>

      <div class='pull-right form-item text-item'>
        Sort by: <a href ng-click="toggleCreatedAt()" ng-class="{dropup: (controller.createdAt == 'asc')}">Most recent <b class="caret"></b></a>
      </div>

    </div>
  </div>


</div>
<div class="row mission-list-body">
  <div class="clearfix" infinite-scroll='checkIfNextPage()' infinite-scroll-disabled='busy' infinite-scroll-distance='1' ng-hide="!records.length">
    <div mission-summary class="col-md-3" ng-repeat="mission in records" mission="mission"></div>
  </div>
  <div class="col-md-12 alert alert-info text-center" ng-show="busy" role="info">
    Loading missions...
  </div>
  <div class="col-md-12 alert alert-danger" ng-show="!records.length" role="alert">
    No missions found
  </div>
</div>
