<div id="main-navigation" class="row navbar navbar-default" role="navigation">
    <div id="parent-logo" class="navbar-brand hidden-xs">
        <a href="http://3drobotics.com/"><img ng-src="{{parent_logo}}" alt="3D Robotics"></a>
    </div>

    <div id="brand-logo" class="center-block hidden-xs">
        <a href="/"><img ng-src="{{son_logo}}" alt="DroneShare"></a>
    </div>
    <div id="brand-logo" class="left-block visible-xs">
        <a href="/"><img ng-src="{{son_logo}}" alt="DroneShare"></a>
    </div>

    <nav id="user-nav">
        <a ng-show="auth.isAnonymous()" href="#login" class="btn btn-info navbar-btn user-navbar">Log In</a>
        <a ng-show="auth.isAnonymous()" href="#create" class="btn btn-primary navbar-btn user-navbar">Sign Up</a>

        <div class="dropdown" ng-show="auth.isLoggedIn()">
            <a href="#" class="btn dropdown-toggle navbar-btn user-navbar" data-toggle="dropdown">
                <img ng-src="{{auth.getUser().avatarImage}}?s=36&d=mm" class="img-rounded"/>
                <div class="user-nav-name">
                {{auth.getUser().login}} <b class="caret"></b>
                </div>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/user/{{auth.getUser().login}}">My Profile</a></li>
                <li><a href="/logout">Log out</a></li>
            </ul>
        </div>
    </nav>

    <!-- Show error msg if server unreacable -->
    <alert class="popup-middle-screen" ng-show="auth.getError()" type="danger">{{auth.getError()}}</alert>
</div>
<div id="layout-navigation" class="row">
    <div class="container">
        <div id="navigation" class="center-block">
            <a href="/"         class="btn btn-default navbar-btn user-navbar">Map</a>
            <a href="/mission"  class="btn btn-default navbar-btn user-navbar">Missions</a>
            <a href="/about"    class="btn btn-default navbar-btn user-navbar">About</a>
        </div>
    </div>
</div>
