<div class="row vehicle-list-item">
    <div class="col-sm-12">
      <div class="col-sm-12 vehicle-title {{vehicle.vehicleType || 'unkown-type'}}">
        <a ng-href="/vehicle/{{vehicle.id}}">
          {{vehicle.name || vehicle.summaryText}}
        </a>
      </div>
      <ul class="col-sm-12 list-unstyled">
        <li class="attribute">Type: <span class="property">{{vehicle.vehicleType || "Unknown Type"}}</span></li>
        <li class="attribute">Autopilot: {{vehicle.autopilotType || "Unknown Type"}}</li>
        <li>{{vehicle.missions.length}} Missions Flown</li>
        <li><a ng-href="/vehicle/{{vehicle.id}}">Edit vehicle</a></li>
        <li ng-show="controller.isMe(vehicle)"><a href="" ng-click="controller.remove_vehicle_modal(vehicle)">Remove vehicle</a></li>
      </ul>
    </div>
</div>
