<div class="row">
  <form name="form" >
    <alert ng-repeat="alert in errors" class="popup-middle-screen"  type="danger">{{alert}}</alert>

    <section id="mission-detail-map" ng-controller="mapController as map" class="col-sm-9">
      <leaflet watchMarkers="true" geojson="geojson" layers="layers" bounds="bounds" center="center" defaults="defaults" height="840px" width="100%"></leaflet>
    </section>

    <section id="mission-detail-data" class="col-sm-3 col-fixed" ng-show="!!record">
      <div class="row mission-summary">
        <div class="col-xs-12">
          <div class="col col-xs-3 vehicle-type">
            <img ng-show="!!record.userAvatarImage" ng-src="{{record.userAvatarImage}}?s=40&d=mm" class="img-rounded">
          </div>

          <div class="col col-xs-7 contact-card">
            <span class="name"><a ng-href="/user/{{record.userName}}">{{ record.userName }}</a></span><br>
            <span class="vehicle-type"><a ng-href="/vehicle/{{record.vehicleId}}">{{ record.vehicleText }}</a></span>

          </div>

          <div class="btn-group col col-xs-1" dropdown ng-show="controller.isMine()" is-open="status.isopen">
            <button type="button" class="btn btn-default dropdown-toggle" ng-disabled="disabled">
              <span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a href="" ng-click="controller.delete()"><span class="glyphicon glyphicon-trash"></span> Delete</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row mission-details" ng-show="!!record">
        <div class="col-md-12">
          <div class="row">

            <div class="" ng-show="controller.isMine()">
              <input ng-hide="auth.isAnonymous()" class="col-xs-12 " type="text" ng-model="record.summaryText" ng-change="controller.submit()"/>
            </div>

            <div class="mission-location" ng-show="!controller.isMine()">
              {{record.summaryText}}
            </div>

            <div class="flight-live" ng-if="record.isLive">
              Mission is live!
            </div>
            <div class="flight-live" ng-if="!record.isLive">
              {{record.dateString}}
            </div>

            <div ng-hide="!record.flightDuration">
              <h6>Mission time:</h6>
              <div class="big_nums">
                {{record.flightDuration | duration}}
              </div>
            </div>

            <h6>Alt:</h6>
            <div class="big_nums" tooltip="Altitude above mean sea level (MSL)">
              {{record.maxAlt | number }} <span class="small">m</span>
            </div>
            <h6>Speed:</h6>
            <div class="big_nums">
              {{record.maxGroundspeed | number }} <span class="small">m/s</span>
            </div>
            <h6>Airspeed:</h6>
            <div class="big_nums">
              {{record.maxAirspeed | number }} <span class="small">m/s</span>
            </div>
            <div ng-hide="!record.softwareVersion">
              <h6>Software version {{record.softwareVersion}}</h6>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div class="btn-group">
              <button class="btn btn-primary" tooltip="3d view courtesy of Doarama" tooltip-placement="bottom" ng-click="controller.show_doarama()" ng-disabled="!record.doaramaURL">
                Movie
              </button>
              <button class="btn btn-primary" tooltip="Heuristic analysis for possible vehicle problems" tooltip-placement="bottom" ng-click="controller.show_analysis()">
                Analyze
              </button>
              <a class="btn btn-primary" tooltip="A (very) basic data plot" tooltip-placement="bottom" ng-href="/mission/{{record.id}}/plot">
                Plot
              </a>
              <button class="btn btn-primary" tooltip="Vehicle parameters" tooltip-placement="bottom" ng-disabled="record.numParameters < 1" ng-click="controller.show_parameters()" >
                Parameters
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="row downloads">
            <ul class="list-unstyled">
              <li>Downloads:</li>
              <li>
                <a ng-href="{{urlBase}}/messages.tlog">
                  <i class="glyphicon glyphicon-download"></i> Download LOG
                </a>
              </li>
              <li>
                <a ng-href="{{urlBase}}/messages.kmz">
                  <span class="glyphicon glyphicon-download"></span> Download KML
                </a>
              </li>
              <li>
                <a tooltip="This logfile did not include parameters." tooltip-placement="bottom" ng-show="record.numParameters < 1">
                  <span class="glyphicon glyphicon-download"></span> Download Parameters
                </a>
              </li>
              <li>
                <a ng-href="{{urlBase}}/parameters.complete" download="vehicle.param" ng-show="record.numParameters >= 1">
                  <span class="glyphicon glyphicon-download"></span> Download Parameters
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="row social">
            <h5>Share:</h5>
            <span class="list-inline">
              <div class="fb-share-button social-button" data-type="button"></div>
              <div class="g-plus social-button" data-action="share" data-annotation="none"></div>
              <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="droneshare" data-count="none"></a>
            </span>
          </div>
        </div>

      </div>

    </section>
  </form>
</div>
