<div class="row">

    <!-- FIXME - find a better way to share this alert boilerplate across views - directives? -->
    <alert ng-repeat="alert in errors" class="popup-middle-screen"  type="danger">{{alert}}</alert>

    <section id="mission-detail-map" ng-controller="mapController as map" class="col-lg-10">
        <leaflet watchMarkers="true" tiles="tiles" geojson="geojson" bounds="bounds" center="center" defaults="defaults" height="840px" width="100%"></leaflet>
    </section>

    <section id="mission-detail-data" class="col-lg-2">
        <div class="alert alert-danger" ng-show="!!error">
            <h4 class="alert-heading" ng-bind="error.title"></h4>
            <span ng-bind="error.message"></span>
        </div>
        <div class="row mission-summary">
            <h4 class="col-md-12">Flight Details</h4>
            <div class="col-md-12">
                <div class="col col-sm-3 vehicle-type">
                    <img src="http://placehold.it/40x40">
                </div>
                <div class="col col-sm-3 avatar">
                    <img src="http://placehold.it/40x40">
                </div>
                <div class="col col-sm-6 contact-card">
                    <span class="name"><a ng-href="#/user/{{record.userName}}">{{ record.userName }}</a></span><br>
                    <span class="origin-location">Cambridge, MD</span><br>
                    <span class="vehicle-type"><a ng-href="#/vehicle/{{record.vehicleId}}">{{ record.vehicleText }}</a></span>
                </div>
            </div>
        </div>

        <div class="row mission-details">
            <div class="col-md-12">
                <div class="row">
                    <h3 class="col-sm-12 mission-location">{{ record.summaryText }}</h3>
                    <div id="mission-detail-islive" class="col col-sm-6">
                        <h5>Flight connection</h5>
                        <div class="" ng-if="record.isLive">
                            <i class="glyphicon glyphicon-refresh"></i> Live
                        </div>
                        <div class="" ng-if="!record.isLive">
                            <i class="glyphicon glyphicon-ok-circle"></i> Flight ended
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <h5>Max Altitude</h5>
                        <div class="">
                            {{record.maxAlt | number }} <span class="small">m</span>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <h5>Max Groundspeed</h5>
                        <div class="">
                            {{record.maxGroundspeed | number }} <span class="small">m/s</span>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <h5>Max Airspeed</h5>
                        <div class="">
                            {{record.maxAirspeed | number }} <span class="small">m/s</span>
                        </div>
                    </div>
                    <div class="col col-sm-12">
                        <h5>Software version</h5>
                        <div class="">
                            {{record.softwareVersion}}
                        </div>
                    </div>
                </div>
            </div>

        <!-- data plot popup - fixme - not yet working
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-unstyled">
                            <li>
                                View data:
                            </li>
                            <li>
                                <button class="btn btn-default" ng-click="show_plot()">Show data plot</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        -->


            <div class="col-md-12">
                <div class="row downloads">
                    <div class="col-sm-12">
                        <!-- FIXME - find a way to tunnel this through angular so we can attach our app key -->
                        <ul class="list-unstyled">
                            <li>
                                Downloads:
                            </li>
                            <li>
                                <a ng-href="{{urlBase}}/messages.tlog"><i class="glyphicon glyphicon-download"></i> Download TLOG</a>
                            </li>
                            <li>
                                <a ng-href="{{urlBase}}/messages.kmz"><span class="glyphicon glyphicon-download"></span> Download KML</a>
                            </li>
                            <li>
                                <a ng-href="{{urlBase}}/parameters.complete" download="vehicle.param"><span class="glyphicon glyphicon-download"></span> Download Parameters</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="row social">
                    <div class="col-sm-12">
                        <h5>Share:</h5>
                        <ul class="list-inline">
                            <li class="facebook">
                                <a href="#"><img src="/images/fb-share.jpg"></a>
                            </li>
                            <li class="google-plus">
                                <a href="#"><img src="/images/google-plus-share.jpg"></a>
                            </li>
                            <li class="twitter">
                                <a href="#"><img src="/images/twitter-share.jpg"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </section>
</div>


<!--
<featured-flights data-count="3"></featured-flights>
<recent-flights data-count="4"></recent-flights>
-->
