<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <base href="/">
    <title ng-bind="'Droneshare' + title">Droneshare</title>
    <meta name="description" content="Open-source drone sharing and control" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="dns-prefetch" href="//api.droneshare.com">
    <% if (config.environment && config.environment === 'prod') { %>
        <link rel="shortcut icon" href="<%= config.getHashedFile('./.temp/images/icon.png', {trim: './.temp'}) %>">
    <% } else { %>
        <link rel="shortcut icon" href="/images/icon.png">
    <% } %>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />

    <% if (config.environment && config.environment === 'prod') { %>
        <!--[if lte IE 8]> <script src="<%= config.getHashedFile('./.temp/scripts/ie.min.js', {trim: './.temp'}) %>"></script> <![endif]-->
        <link rel="stylesheet" href="<%= config.getHashedFile('./.temp/styles/styles.min.css', {trim: './.temp'}) %>" />
        <script>
            window.debugEnabled = false;
            window.logos = {
                parent: "<%= config.getHashedFile('./.temp/images/3drobotics.png', {trim: './.temp'}) %>",
                son: "<%= config.getHashedFile('./.temp/images/droneshare.png', {trim: './.temp'}) %>",
                vehicleMarkerActive: "<%= config.getHashedFile('./.temp/images/vehicle-marker-active.png', {trim: './.temp'}) %>",
                vehicleMarkerInactive: "<%= config.getHashedFile('./.temp/images/vehicle-marker-inactive.png', {trim: './.temp'}) %>",
                octocat: "<%= config.getHashedFile('./.temp/images/octocat-drone.jpg', {trim: './.temp'}) %>"
            };
        </script>
    <% } else { %>
        <!--[if lte IE 8]> <script src="/scripts/libs/json3.js"></script> <script src="/scripts/libs/html5shiv-printshiv.js"></script> <![endif]-->
        <link rel="stylesheet" href="/styles/styles.css" />
        <script>
            window.debugEnabled = true;
            window.logos = {
                parent: '/images/3drobotics.png',
                son: '/images/droneshare.png',
                vehicleMarkerActive: '/images/vehicle-marker-active.png',
                vehicleMarkerInactive: '/images/vehicle-marker-inactive.png',
                octocat: '/images/octocat-drone.jpg'
            };
        </script>
    <% } %>

    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none; }
        ng\:form { display: block; }
    </style>

    <% if (config.environment && config.environment === 'prod') { %>
        <meta property="og:image" content="<%= config.getHashedFile('./.temp/images/screenshot.png', {trim: './.temp'}) %>"/>
    <% } else { %>
        <meta property="og:image" content="/images/screenshot.png"/>
    <% } %>
    <meta property="og:description" content="Open-source drone sharing and control"/>
    <meta property="og:title" content="Droneshare mission log"/>
    <meta property="og:site_name" content="Droneshare"/>
    <meta property="fb:app_id" content="301251750005529"/>
</head>
<body class="ng-cloak">
    <header header-nav class="container-fluid"></header>

    <div class="container-fluid">
        <div ng-view></div>
    </div>

    <div ng-include src="'/views/footer.html'"></div>

    <% if (config.environment && config.environment === 'prod') { %>
        <script src="<%= config.getHashedFile('./.temp/scripts/scripts.min.js', {trim: './.temp'}) %>"></script>
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-50407686-1', 'auto');
        </script>
        <script>
        trackJsError = function(e) {
          var ie = window.event,
              errMsg = e.message || ie.errorMessage;
          var errSrc = (e.filename || ie.errorUrl) + ': ' + (e.lineno || ie.errorLine);
          ga('send', 'exception', {
              'exDescription': errSrc + ': ' + errMsg,
              'exFatal': false
          });
        }
        /**
         * Cross-browser event listener
         */
        if (window.addEventListener) {
          window.addEventListener('error', trackJsError, false);
        } else if (window.attachEvent) {
          window.attachEvent('onerror', trackJsError);
        } else {
          window.onerror = trackJsError;
        }
        </script>
    <% } else { %>
        <script data-main="/scripts/main.js" src="/scripts/libs/require.js"></script>
    <% } %>
    <div ng-include src="'/helpers/facebook-share.html'"></div>
    <div ng-include src="'/helpers/google-plus.html'"></div>
    <div ng-include src="'/helpers/twitter-share.html'"></div>
</body>
</html>
