<div class="col-md-3 col-md-offset-3">
    <!-- SHOW ERROR/SUCCESS MESSAGES -->
    <alert ng-repeat="alert in errors" type="danger" close="clear_error()">{{alert}}</alert>
    <alert ng-repeat="alert in successes" type="success" close="clear_success()">{{alert}}</alert>

    <!-- FORM -->
    <form role="form" ng-submit="auth.doCreate()">
        <h2>Create account</h2>

        <!-- FIXME - check availability as the user types -->
        <!-- FIXME - add help popups explaing why we are asking these things -->
        <div class="form-group">
            <label for="accountName">Pick a username</label>
            <input id="accountName" type="text" class="form-control" placeholder="happypilotbob" ng-model="auth.login">
        </div>
        <div class="form-group">
            <label for="fullName">Full name</label>
            <input id="fullName" type="text" class="form-control" placeholder="Bob Henderson" ng-model="auth.fullName">
        </div>

        <div class="form-group">
            <label for="email">Email address</label>
            <input id="email" type="email" class="form-control" placeholder="Email address" ng-model="auth.email">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" class="form-control" placeholder="New Password" ng-model="auth.password" >
            <p class="help-block">Use at least 7 characters and one digit.</p>
        </div>

        <div class="checkbox">
          <input type="checkbox" ng-model="auth.wantEmails"> Send service emails (feature announcements, etc...)
        </div>

        <div class="alert alert-warning" ng-show="!!auth.get_create_warning()">
            <span ng-bind="auth.get_create_warning()"></span>
        </div>

        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-lg btn-primary" ng-disabled="!auth.can_create()">
            Create Account
        </button>
    </form>
</div>
