<div ng-controller="authController as auth">

    <form role="form" ng-submit="auth.do_password_reset()">
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <!-- SHOW ERROR/SUCCESS MESSAGES -->
                <alert ng-repeat="alert in errors" type="danger" >{{alert}}</alert>
                <alert ng-repeat="alert in successes" type="success" >{{alert}}</alert>

                <h2>Forgotten password</h2>
                So, you've forgotten your password?  No problem, just enter your email address or login name
                and we'll send you an email you can use to pick a new password.<p>

                <div class="form-group" >
                    <label for="inputLogin">Username or email</label>
                    <input id="inputLogin" type="text" class="form-control" placeholder="Enter username" ng-model="auth.login">
                </div>

            </div>
        </div>

        <div class="row col-md-offset-3">
            <div class="col-md-1">
                <!-- SUBMIT BUTTON -->
                <button type="submit" class="btn btn-lg btn-primary" >
                    Send reset email
                </button>
            </div>
        </div>
    </form>
</div>
