<div ng-controller="authController as auth">

    <form role="form" ng-submit="auth.do_password_reset_confirm()">
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <!-- SHOW ERROR/SUCCESS MESSAGES -->
                <alert ng-repeat="alert in errors" type="danger" close="clear_error()">{{alert}}</alert>
                <alert ng-repeat="alert in successes" type="success" close="clear_success()">{{alert}}</alert>

                <h2>You are almost there</h2>

                <div class="form-group" >
                    <label for="inputPassword">New password</label>
                    <input id="inputPassword" type="password" class="form-control" placeholder="Password" ng-model="auth.password">
                </div>

            </div>
        </div>

        <div class="row col-md-offset-3">
            <div class="col-md-1">
                <!-- SUBMIT BUTTON -->
                <button type="submit" class="btn btn-lg btn-primary" >
                    Set password
                </button>
            </div>
        </div>
    </form>
</div>
